<div class="form-group">
    <p>{{label}} <span ng-if="required">*</span></p>
    <input type="number"
           ng-required="{{required}}"
           ng-model="value"
           name="{{name}}"
           max="{{max}}"
           min="{{min}}">

    <div ng-show="myForm.$invalid && !myForm.$pristine" class="help-block">
        <p ng-show="myForm.$error.required" class="help-block">{{label}} is required.</p>
        <p ng-show="myForm.$error.max" class="help-block">This number mustn't to be greater than {{max}}.</p>
        <p ng-show="myForm.$error.min" class="help-block">This number mustn't to be less than {{min}}.</p>
    </div>
</div>